*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.ac-custom {
	margin: 0 auto;
}

.ac-custom label {
	color: rgba(0,0,0,0.2);
	cursor: pointer;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}

.ac-custom input[type="checkbox"],
.ac-custom label::before {
	width: 30px;
	height: 30px;
	top: 5px;
	right: 5px;
	position: absolute;
	cursor: pointer;
}

.ac-custom input[type="checkbox"] {
	opacity: 0;
	-webkit-appearance: none;
	display: inline-block;
	vertical-align: middle;
	z-index: 100;
}

.ac-custom label::before {
	content: '';
	/*border: 2px solid #fff;*/
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.ac-custom input[type="checkbox"]:checked + label {
	color: #fff;
} 

.ac-custom input[type="checkbox"]:checked + label::before{
	opacity: 0.8;
}



/* General SVG and path styles */

.ac-custom svg {
	position: absolute;
	width: 30px;
	height: 30px;
	top: 5px;
	right: 5px;
	pointer-events: none;
}

.ac-custom svg path {
	stroke: #fdfcd3;
	stroke-width: 17px;
	stroke-linecap: round;
	stroke-linejoin: round;
	fill: none;
}



/* Specific input, SVG and path styles */

/* Box Fill */
.ac-boxfill svg path {
	stroke-width: 15px;
} 
