@import url(https://fonts.googleapis.com/css?family=Nunito:300);


/*@font-face {
    font-family: 'TexGyreAdventor';
    src: url('../fonts/texgyreadventor-regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}*/

body {
	line-height: 1.75em;
	font-size: 1.25em;
	letter-spacing: 0.5px;
	color: #e7e7e7;
	background-color: #242631;
	font-family: 'Nunito', 'Century Gothic', sans-serif;
/*	font-family: 'TexGyreAdventor', 'Century Gothic', sans-serif;
*/}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Oswald', Impact, sans-serif;
	letter-spacing: 0.5px;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2.25em;
	line-height: 1.35em;
	text-transform: uppercase;
	text-align: center;
}

h2 span {
	font-family: 'Nunito', sans-serif;
}

h3 {
	font-size: 1.85em;
}

hr {
	border-color: #606583;
}



/* ===========================
 *   GENERAL CUSTOM STYLING
 * ===========================
 */
.table {
	display: table;
	height: 100%;
	margin-bottom: 0;
}
.cell {
	display: table-cell;
	vertical-align: middle;
}





/* =====================
 *   MOBILE NAV BAR 
 * =====================
 */
 nav {
	background-color: #f1f1f1;
	border-top: 1px solid #e0e0e0;
	height: 4em;
}

/*.glyphicon {
	color: #f1f1f1;
}*/

nav i.glyphicon {
	color: #1A1A28;
	font-size: 1.3em;
}

.nav-button {
	text-align: center;
	color: #f1f1f1;
	display: inline-block;
	float: left;
	height: 3.5em;
	width: 33.33333333%;
	padding: 0.5em;
	background: transparent;
}

button#home, button#search {
	border-right: 1px solid #ddd;
}


/* =======================
 *   GIG LISTING PAGE
 * =======================
 */
.gig-posting {
	background-color: #434654;
	margin-bottom: 4em;
	border-radius: 2px;
}

/*.gig-posting:hover {
	opacity: 0.8;
	filter: alpha(opacity=80);
}*/

.gig-title {
	cursor: pointer;
	background-color: #f65f7e;
	padding: 10px;
	border-radius: 2px;
	margin-top: 0.5em;

	transition: all ease-in-out 0.2s;
	-webkit-transition: all ease-in-out 0.2s;
	-moz-transition: all ease-in-out 0.2s;
}
.gig-title:hover {
	background-color: #f1f1f1;
	color: #f65f7e;
}

.gig-text {
	padding: 0.5em;
}

.top-margin {
	margin-top: 1.5em;
}




/*LISTING EXPANSION*/
#content-1 {
	display: none;
}



/* ===============================
 *    INTERESTS PAGE WITH TILES
 * ===============================
 */
.checkbox {
	width: 125px;
	height: 125px;
	margin: 0px 5px;
	border: 2px solid #f1f1f1;
	border-radius: 0px;
	display: inline-block;
}
.checkbox:hover {
	background-color: rgba(0, 0, 0, 0.5);
}

.checkbox label  {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
}



/* =========================================
 *  MEDIA QUERIES HAVE TO BE AT THE BOTTOM 
 * =========================================
 */

/* iPhone 6 */
@media (min-width: 375px) {
	body {
		font-size: 1.5em;
	}
	.checkbox {
		width: 150px;
		height: 150px;
	}
}


@media (min-width: 768px) {
	h1 {
		font-size: 3.25em;
	}
	.checkbox {
		width: 175px;
		height: 175px;
	}
}

@media (min-width: 992px) {
	body {
		font-size: 1.75em;
	}
	h1 {
		font-size: 3.75em;
	}
}

@media (min-width: 1200px) {
	body {
		font-size: 2em;
		line-height: 2em;
	}
	h1 {
		font-size: 3.5em;
	}
	.checkbox {
		width: 200px;
		height: 200px;
	}
}


