body {
	line-height: 1.75em;
	font-size: 1.15em;
	font-weight: 200;
	letter-spacing: 0.5px;
	color: #e7e7e7;
	background-color: #242631;
}

body, h1, h2, h3, h4 {
	font-family: 'Oswald', sans-serif;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 1.8em;
}

hr {
	border-color: #606583;
}

nav {
	background-color: #f1f1f1;
	border-top: 1px solid #e0e0e0;
}

nav i.glyphicon {
	color: #1A1A28;
	font-size: 1.3em;
}

.nav-button {
	text-align: center;
	color: white;
	display: block;
	float: left;
	width: 33.33333333%;
	height: 50px;
	padding-top: 10px;
	background: transparent;
}

.glyphicon {
	color: white;
}

.gig-posting {
	border-bottom: 1px solid white;
	padding: 10px; 
}

.top-margin {
	margin-top: 15px;
}

button#home, button#search {
	border-right: 1px solid #ddd;
}

/* iPhone 6 */
@media (min-width: 375px) {
	body {
		font-size: 1.75em;
	}
}


@media (min-width: 768px) {
	body {
		font-size: 1.5em;
		line-height: 1.8em;
	}
	h1 {
		font-size: 3.25em;
	}
	h2 {
		font-size: 1.75em;
	}
	nav {
		padding: 10px;
	}
}

@media (min-width: 992px) {
	body {
		font-size: 2em;
		line-height: 1.8em;
	}
	h1 {
		font-size: 3.75em;
	}
	h2 {
		font-size: 1.25em;
	}
}

@media (min-width: 1200px) {
	body {
		font-size: 2.5em;
		line-height: 2em;
	}
	h1 {
		font-size: 3.5em;
	}
	nav {
		padding: 25px;
	}
}